.header-store {
  
  color: #fff;
  overflow: hidden;
}

.title {
  font-size: 40px;
  font-family: 'Source Code Pro', 'Segoe UI';
  float: left;
}

.navigation {
  font-size: 21px;
  font-family: 'Source Code Pro';
  float: right;
}

.action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.last {
  margin-right: 0;
}
